.masthead {
  padding-top: 74px;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
    color: rgb(255, 243, 231);
  }

  .masthead-subheading {
    font-size: 1.25rem;
  }

  .masthead-avatar {
    width: 23rem;
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: 103px;

    &__container {
      height: 500px;
    }
    
    &__content {
      width: 50%;
    }

    &__image {
      width: 50%;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .masthead-subheading {
      font-size: 1.5rem;
    }
  }
}
